
.filter-bnt{
    text-align: center;
    width: 10vw;
    align-self: center;
    margin-bottom: auto;
    margin-top: 10%;
    background-color: deepskyblue;
    /* padding-top: auto;*/

} 

.GameList{
    flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}
.container{
    display: flex;
}
.gamebox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: 25vw; */

}